@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: oklch(0.69 0.168 252.178);
    --color-success: oklch(0.731 0.191 137.226);
    --color-warning: oklch(0.761 0.139 73.316);
    --color-danger: oklch(0.699 0.169 22.456);
    --color-info: oklch(0.663 0.01 264.502);
    --color-black: oklch(0.201 0.004 286.04);
    --color-white: oklch(0.866 0.013 266.689);
    --radius: 4px;
}
